.idea
vendor
node_modules

main
cmd/cities-svc/m ain

config_local.yaml
config_docker.yaml

.gitignore

internal/domain/modules/member
internal/domain/modules/permissions
internal/domain/modules/role
